@page "/about"
@using Melapp.Extensions
@using Melapp.Models.Constants
@using Melapp.Services.Interfaces

@inject IApplicationLanguageService ApplicationLanguageService;

<div class="container px-4">
    <h1 class="fw-bolder">@ApplicationLanguageService.GetPhrase(TranslationKeywords.Welcome1)</h1>
    <p class="lead lead-justify text-justify">@ApplicationLanguageService.GetPhrase(TranslationKeywords.About1)</p>
    <p class="lead lead-justify text-justify">@ApplicationLanguageService.GetPhrase(TranslationKeywords.About2)</p>
    <p class="lead">@ApplicationLanguageService.GetPhrase(TranslationKeywords.About3)
        <a class="btn btn-lg btn-light"
           @onclick="() => BrowseAddress(ApplicationConstants.ScrollingNavGitHub)">
            @ApplicationLanguageService.GetPhrase(TranslationKeywords.About4)
        </a></p>
</div>

@code
{
    private void BrowseAddress(string url)
    {
        UrlHelper.Open(url); 
    }
}
