@page "/collections"
@using System.IO
@using System.Text.Json
@using Melapp.Models
@using Melapp.Models.Constants
@using Melapp.Services.Interfaces

@inject IApplicationLanguageService ApplicationLanguageService

<h1>@ApplicationLanguageService.GetPhrase(TranslationKeywords.Collections)</h1>

<p>@ApplicationLanguageService.GetPhrase(TranslationKeywords.CollectionsManager)</p>

@if (_collections == null)
{
    <p><em>@ApplicationLanguageService.GetPhrase(TranslationKeywords.Loading)</em></p>
}
else
{
    <p>
        <table class="table text-light">
            <thead>
            <tr>
                <th>@ApplicationLanguageService.GetPhrase(TranslationKeywords.Collection)</th>
                <th>@ApplicationLanguageService.GetPhrase(TranslationKeywords.Description)</th>
                <th>@ApplicationLanguageService.GetPhrase(TranslationKeywords.Entries)</th>
                <th>@ApplicationLanguageService.GetPhrase(TranslationKeywords.Edit)</th>
                <th>@ApplicationLanguageService.GetPhrase(TranslationKeywords.Delete)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var collection in _collections)
            {
                <tr>
                    <td>@collection.Name</td>
                    <td>@collection.Description</td>
                    <td>@collection.Entries</td>
                    <td>
                        <a class="btn btn-lg btn-light" @onclick="() => Edit(collection.Name)">
                            @ApplicationLanguageService.GetPhrase(TranslationKeywords.Edit)
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-lg btn-light" @onclick="() => Delete(collection.Name)">
                            @ApplicationLanguageService.GetPhrase(TranslationKeywords.Delete)
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="btn btn-lg btn-light" href="newcollection">
                        @ApplicationLanguageService.GetPhrase(TranslationKeywords.New)
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </p>
}

@code {
    CollectionListEntry[] _collections;

    protected override async Task OnInitializedAsync()
    {
        var forecastsJson = await File.ReadAllTextAsync("wwwroot/sample-data/weather.json");
        _collections = JsonSerializer.Deserialize<CollectionListEntry[]>(forecastsJson, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private Task Edit(string collectionName)
    {
        throw new NotImplementedException();
    }

    private Task Delete(string collectionName)
    {
        throw new NotImplementedException();
    }
}
